.btn {
	display: inline-block;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	padding: 12px 15px;
	border-radius: 4px;
	border: none;
	text-align: center;
	font-size: 15.42px;
	position: relative;
}

.btn-yellow {
	background: #f9ce00;
	background: linear-gradient(to bottom, #fad800, #f9ce00, #f9ce00);
	box-shadow: 0 3px 0 #cca000;
	color: #6e4f1c;
	&:hover {
		background: linear-gradient(to top, #fad800, #f9ce00, #dcae03);
	}
	&:active {
		box-shadow: none;
		transform: translateY(3px);
	}
}

.btn-blue {
	background: #26a3d1;
	background: linear-gradient(to bottom, #33b5e5, #26a3d1, #1992be);
	box-shadow: 0 3px 0 #086b8f;
	color: #fdfdfd;
	&:hover {
		background: linear-gradient(to top, #33b5e5, #26a3d1, #1992be);
	}
	&:active {
		box-shadow: none;
		transform: translateY(3px);
	}
}

.btn-white {
	background: transparent;
	border: solid 1px #89a8bc;
	color: #fdfdfd;
	transition: all 0.3s ease-out;
	&:hover {
		background: #024672;
	}
}

i {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0.2em;
}

.i-call {
	width: 13px;
	height: 14px;
	background: url(../img/i_phone3.png) no-repeat center center;
}

.btn-blue-square {
	background: #4399cf;
	background: linear-gradient(to right, #428ebd 0, #428ebd 44px, #4399cf 44px, #4399cf 100%);
	padding: 9px 9px  9px 53px;
	min-width: 188px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 14.58px;
	color: #fdfdfd;
	text-transform: none;
	&:hover {
		background: #428ebd;
		background: linear-gradient(to right, #2672a1 0, #2672a1 44px, #428ebd 44px, #428ebd 100%);
	}
}

.btn-fullwidth {
	width: 100%;
}

.btn-save {
	&:before {
		content: '';
		position: absolute;
		width: 16px;
		height: 15px;
		background: url(../img/i_save.png) no-repeat center center;
		left: 14px;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}

.btn-stats {
	&:before {
		content: '';
		position: absolute;
		width: 15px;
		height: 16px;
		background: url(../img/i_stats.png) no-repeat center center;
		left: 14px;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}

.btn-wallet {
	&:before {
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		background: url(../img/i_wallet.png) no-repeat center center;
		left: 14px;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}