.site-header {
    position: relative;
    z-index: 100;
}

.header-line-1 {
	background: #126ba3;
	height: 36px;
	line-height: 36px;
	text-align: right;
	color: #fdfdfd;
	font-size: 14.58px;
	span, a {
		display: inline-block;
		vertical-align: top;
		height: 36px;
		line-height: 36px;
		color: inherit;
		text-decoration: none;
	}
	a {
		transition: all 0.3s ease-out;
		&:hover {
			opacity: 0.8;
		}
	}
}

.hl1-item {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	border-left: solid 1px #084c77;
	line-height: 36px;
	height: 36px;
	&:first-child {
		padding-left: 35px;
		padding-right: 35px;
	}
	&:nth-child(2) {
		padding-left: 25px;
		padding-right: 25px;
	}
	&:last-child {
		border-right: solid 1px #084c77;
	}
}

.head-greating {
	padding: 0 25px;
	background: url(../img/i_hello.png) no-repeat left center;
}

.head-logout {
	padding-left: 28px;
	background: url(../img/i_logout.png) no-repeat left center;
}

.head-balance {
	padding-left: 37px;
	background: url(../img/i_balance.png) no-repeat left center;
}

.head-callme {
	padding-left: 46px;
	padding-right: 22px;
	background: url(../img/i_phone2.png) no-repeat 22px center;
	cursor: pointer;
	transition: all 0.3s ease-out;
	&:hover {
		opacity: 0.8;
	}
}

.header-logo {
	float: left;
	width: 215px;
}

.header-line-2 {
	background: #01060c url(../img/menu_bg.jpg) no-repeat center bottom;
	background-size: cover;;
	color: #fdfdfd;
	padding: 12px 0 30px;
	position: relative;
}

.header-menu {
	margin-left: 215px;
	text-align: right;
	padding-top: 27px;
	ul {
		list-style: none;
	}
	li {
		display: inline-block;
		margin-left: 18px;
		vertical-align: middle;
	}
	a {
		display: inline-block;
		padding: 1px 0;
		color: inherit;
		text-decoration: none;
		border-bottom: solid 1px transparent;
		font-weight: 600;
	}
	li.active a, a:hover {
		border-color: #c2e8ff;
	}
}