.login-bg {
	width: 100%;
	display: table;
	background: #010204 url(../img/login_bg.jpg) no-repeat center bottom;
	background-size: cover;
	color: #fdfdfd;
	table-layout: fixed;
}

.login-holder {
	display: table-cell;
	height: 100vh;
	vertical-align: middle;
	padding: 95px 0 125px;
}

.login-container {
	max-width: 525px;
	margin: 0 auto;
}

.login-top {
	max-width: 298px;
	margin: 0 auto 55px;
}

.lang-menu {
	ul {
		list-style: none;
	}
	a {
		color: #fbfbfb;
		text-decoration: none;
		font-size: 13.75px;
		&:hover {
			color: #f0ca30;
		}
	}
	li {
		display: inline-block;
		margin-right: 2px;
		&.active a {
			color: #f0ca30;		
		}
	}
	
}

.login-center {
	border: solid 2px #086b8f;
	border-radius: 4px;
	text-align: center;
	padding: 40px 10px 15px;
	h1 {
		font: bold 29.17px 'Roboto Slab', serif;
		margin: 0 0 25px;
	}
	input[type=text], input[type=tel], input[type=email], input[type=submit], input[type=password], textarea {
		border: none;
		background-color: white;
		background-position: 20px center;
		background-repeat: no-repeat;
		color: #717170;
		font-size: 13.75px;
		padding: 12px 10px 12px 55px;
		margin-bottom: 12px;
		border-radius: 4px;
	}
	a {
		color: inherit;
	}
	.btn {
		width: 100%;
		margin-bottom: 25px;
	}
}

.login-center-inner {
	max-width: 335px;
	margin: 0 auto;
}

.input-login {
	background-image: url(../img/i_login.png);
}

.input-pass {
	background-image: url(../img/i_password.png);
}

.input-email {
	background-image: url(../img/i_mail.png);
}


.login-left {
	float: left;
	margin: 25px 0;
}

.login-right {
	float: right;
	margin: 25px 0;
}

.login-bottom {
	margin-top: 35px;
	border: solid 2px #4e818f;
	border-radius: 4px;
	padding: 20px 0;
}

.login-bottom-holder {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.login-bottom-left, .login-bottom-right {
	display: table-cell;
	vertical-align: middle;
}

.login-bottom-left {
	text-align: center;
	width: 40%;
	h4 {
		font: bold 14.58px 'Open Sans', sans-serif;
	}
}

.login-bottom-right {
	padding-left: 35px;
	text-align: left;
	position: relative;
	font-size: 14.58px;
	width: 60%;
	p {
		margin: 10px 0;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 2px;
		background: #4e818f;
	}
}

.captcha-container {
    text-align: center;
    margin: 10px 0 20px;
	> div {
		display: inline-block;
		vertical-align: middle;
		transform: scale(0.8);
	}
}