@media screen and(min-width: 1024px) {

	.toggle-menu, .mobile-menu {
		display: none !important;
	}


}

 .mobile-menu {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		padding: 12px 6px;
		background: #01060c;
		max-height: 415px;
		max-height: calc(100vh - 65px);
		a {
			text-decoration: none;
			color: inherit;
			
		}
		ul {
			list-style: none;
			padding: 10px 0;
			a {
				display: block;
				padding: 7px 0;
			}
			li {
				display: block;
			}
		}
		.hl1-item {
			padding-left: 0 !important;
			padding-right: 0!important;
			border: none !important;
			display: block;
			height: auto;
		}
		.head-callme {
			padding-left: 25px;
			padding-right: 0;
			background-position: left center;
		}
		.head-greating {
			display: block;
			padding-right: 0;
		}
		.head-balance, .head-logout {
			padding-left: 25px;
		}
	}

@media screen and(max-width: 1150px) {
	.container {
		padding-left: 6px;
		padding-right: 6px;
	}
}

@media screen and(max-width: 1023px) {
	.header-line-1, .header-menu {
		display: none;
	}
	.toggle-menu {
		display: block;
		float: right;
		width: 60px;
		height: 40px;
		border: solid 1px #fdfdfd;
		border-radius: 4px;
		position: relative;
		cursor: pointer;
		span {
			width: 30px;
			height: 2px;
			background: #fdfdfd;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			&:before, &:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				height: 100%;
				background: #fdfdfd;
			}
			&:before {
				top: -7px;
			}
			&:after {
				bottom: -7px;
			}
		}
	}
	.header-logo {
		 width: 107px;
	}
	.header-line-2 {
		 padding: 12px 0;
	}
}


@media screen and(max-width: 900px) {
	.footer-nav, .copyright {
		float: none;
		width: auto;
		text-align: left;
		margin: 5px 0;
	}
	.price-after-table {
		background-position: 10px center;
		padding: 20px 15px;
	}
	.for_tabs a {
		font-size: 15px;
	}
	.cs-right-table {
		margin-left: 400px;
	}
	.left-form {
		width: 350px;
	}
	.blue-form {
		padding: 35px 15px 56px;
	}
}

@media screen and(max-width: 799px) {
	.country-cell {
		width: 25%;
	}
	.for_tabs li.active {
		background-image: none;
		a {
			padding-left: 5px;
		}
	}
	.left-form {
		width: auto;
		float: none;
	}
	.cs-left-full {
		margin-left: 0;
	}
	.cs-right-table {
		margin-left: 0;
		margin-top: 40px;
	}

}

@media screen and(max-width: 639px) {
	.destroy-mobile {
		display: block !important;
			width: auto !important;
		tr, th, td, tbody, thead {
			display: block !important;
			width: auto !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
	.price-table {
		float: none;
		width: auto;
	}
	.table-with-price {
		margin-right: 0;
	}
	.price-after-table {
		float: right;
		width: 351px;
		max-width: 100%;
	}
	.cs-body {
		padding: 20px 6px;
	}
	.tabs > div {
		padding: 20px 6px;
	}
	.options-row {
	width: 140px;
	}
	.page-bg {
		padding: 35px 0;
	 }
}

@media screen and(max-width: 530px) {
	.login-container {
		padding-left: 6px;
		padding-right: 6px;
	}
}

@media screen and(max-width: 480px) {
	.login-holder {
		padding: 15px 0;
	}
	.login-bottom-right {
		padding-left: 10px;
		font-size: 10px;
	 }
	 
	 .login-top {
		max-width: 150px;
		margin: 0 auto 15px;
	}
	
	.login-center {
		padding: 10px 10px 15px;
	}
	.ft-left {
		width: 107px;
		padding-top: 7px;
	}
	.ft-right {
		padding-top: 0;
	}
	.footer-top {
		padding: 15px 0;
	}
	.footer-nav li {
		display: block;
		margin-right: 0;
	}
	.footer-nav a {
		display: inline-block;
		padding: 7px 0;
	}
	.footer-nav, .copyright {
		text-align: center;
	}
	.cs-head {
		font-size: 15px;
	}
}

@media screen and(max-width: 479px) {
	.footer-top .btn i {
		margin-right: 10px;
	}
	.payment-options {
	   border-spacing: 1px;
	 }
}