			</div><!--/container-->
		</div><!--/page-bg-->
		
		<footer class="site-footer">
			<div class="footer-top">
				<div class="container">
					<div class="ft-left">
						<img src="img/logo_footer.png" alt="" />
					</div>
					<div class="ft-right">
						<button class="btn btn-white"><i class="i-call"></i>Перезвоните мне</button>
					</div>
				</div>
			</div>
			
			<div class="footer-bottom">
				<div class="container">
					<nav class="footer-nav">
						<ul>
							<li class="active"><a href="#">Главная</a></li>
							<li><a href="#">Статистика</a></li>
							<li><a href="#">Пополнить баланс</a></li>
							<li><a href="#">История операций</a></li>
							<li><a href="#">Партнерская программа</a></li>
						</ul>
					</nav>
					
					<div class="copyright">
						<p>&copy; 2016. No rights reserved. Sorry.</p>
					</div>
				</div>
			</div>
		</footer>
		
	</div><!--/full-page-->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/velocity.min.js"></script>
	<script src="js/jquery.tabslet.min.js"></script>
	<script src="js/jquery.basictable.min.js"></script>
	<script src="js/moment.min.js"></script>
	<script src="js/jquery.daterangepicker.min.js"></script>
	<script src="js/functions.js"></script>
	
</body>
</html>